@import 'components/mixins';

$w: 1100px;
$c: #8B8E8C;
$bg: #FF7A11;
$bg2: lighten(#FF7A11, 20%);
$inputH: 40px;
$font-base: 20px;
$f: "Lato";
$f2: "Oswald";
$f3: "Open Sans";
$row: $w;
$desktop: 1024px;
$table: 768px;
$mobile: 479px;

@import 'components/flexbox';
@import 'components/reset';
@import 'components/fonts';
@import 'components/code';
@import 'components/m';
@import 'components/rwd';